* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #121212;
    color: #ffffff;

}

.main {
    /* background-color: brown; */
    width: 646px;
    text-align: center;
    padding: 47Px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    margin-left: auto;
    margin-right: auto;

}

h1 {
    font-size: 3.5rem;
}


.input-section {
    text-align: center;
    border: 2px solid white;
    height: 94px;
    width: 550px;
    margin-top: 2%;
    border-radius: 12px;


}

.section1 {
    margin-top: 5%;
}

.sectionout {
    border: 2px solid white;
    width: 550px;
    margin-top: 3%;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#progressText {
    height: 80px;
    width: 80px;
    background-color: rgb(82, 81, 81);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Times New Roman';
    border: none;
    border-radius: 50%;
    font-weight: bolder;
}

#taskInput {
    width: 400px;
    height: 38px;
    border-radius: 8px;
    border: none;
    padding-left: 15px;

}

button {
    width: 70px;
    height: 35px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    background-color: rgb(49, 49, 185);
}

#addTaskBtn {
    width: 80px;
    height: 40px;
    margin-left: 12px;
    

}

button:hover {
    border: 2px solid blue;
    background-color: transparent;

}

#taskList li.completed {
    text-decoration: line-through;
    opacity: 0.3;
}

ul li {
    line-height: 50px;
    margin-top: 12px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid white;
    text-align: left;
    padding-left: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.delete-btn {
    background-color: rgb(32, 132, 32);
}

.delete-btn:hover {
    background-color: transparent;
    border: 2px solid green;
}

.edit-btn {
    background-color: rgb(244, 32, 32);
}

.edit-btn:hover {
    background-color: transparent;
    border: 2px solid red;
}

.buttonsContainer {
    margin-right: 9px;
    display: flex;
    gap: 7px;
}
/* small device:phone  */
@media only screen and (max-width: 600px) {
    .main{
        margin: 0px;
        padding-left: 20px;
        width: 100%;

    }
    .sectionout{
        width: 105%;
    }
    h1{
        font-size: 2.6rem;
    }
    .input-section{
        width: 105%;
    }
    #taskInput{
        width: 70%;
    }
    #taskList{
        width: 105%;
    }
}
/* tablets and large phones */
@media only screen and (min-width:600px){
       .sectionout{
        width: 85%;
       
    }
    h1{
        font-size: 2.5rem;
    }
    .input-section{
        width: 85%;
    }
    #taskInput{
        width: 75%;
    }
    #taskList{
        width: 85%;
    }
    
}

/* landscape tablets */
@media only screen and (min-width: 768px) {
       .sectionout{
        width: 90%;
       
    }
    .input-section{
        width: 90%;
    }
    #taskList{
        width: 90%;
    }
    
}



/* extra large devices--laptop /desktops */
@media only screen and (min-width:1200px){
       .sectionout{
        width: 100%;

    }
    .input-section{
        width: 100%;
    }
    #taskList{
        width: 100%;
    }
}